<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

<listener>
	<listener-class>affamato.ExecuteRegistrationOnceServlet</listener-class>
</listener>

<servlet>
	<servlet-name>default</servlet-name>
	<servlet-class>affamato.DBCron</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>default</servlet-name>
	<url-pattern>/cron/dbcron</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>about</servlet-name>
	<servlet-class>affamato.aboutPageServlet</servlet-class>	
</servlet>    
<servlet-mapping>
	<servlet-name>about</servlet-name>
	<url-pattern>/about</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>dashboard</servlet-name>
	<servlet-class>affamato.dashboardPageServlet</servlet-class>	
</servlet>    
<servlet-mapping>
	<servlet-name>dashboard</servlet-name>
	<url-pattern>/dashboard</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>grocerylist</servlet-name>
	<servlet-class>affamato.grocerylistPageServlet</servlet-class>	
</servlet>    
<servlet-mapping>
	<servlet-name>grocerylist</servlet-name>
	<url-pattern>/grocerylist</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>inventory</servlet-name>
	<servlet-class>affamato.inventoryPageServlet</servlet-class>	
</servlet>    
<servlet-mapping>
	<servlet-name>inventory</servlet-name>
	<url-pattern>/inventory</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>recipes</servlet-name>
	<servlet-class>affamato.recipesPageServlet</servlet-class>	
</servlet>    
<servlet-mapping>
	<servlet-name>recipes</servlet-name>
	<url-pattern>/recipes</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>ingredients</servlet-name>
	<servlet-class>affamato.ingredientsPageServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>ingredients</servlet-name>
	<url-pattern>/ingredients</url-pattern>
</servlet-mapping>
  
<welcome-file-list>
    <welcome-file>landingPage.jsp</welcome-file>
</welcome-file-list>

<servlet>
	<servlet-name>CookHolder</servlet-name>
	<servlet-class>affamato.NewCookServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>CookHolder</servlet-name>
	<url-pattern>/CookHolder</url-pattern>
</servlet-mapping> 

<servlet>
	<servlet-name>cook</servlet-name>
	<servlet-class>affamato.NewCookServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>cook</servlet-name>
	<url-pattern>/cook</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>SearchServlet</servlet-name>
	<servlet-class>affamato.SearchServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>SearchServlet</servlet-name>
	<url-pattern>/search</url-pattern>
</servlet-mapping>

<servlet>
	<servlet-name>FavoriteServlet</servlet-name>
	<servlet-class>affamato.FavoriteServlet</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>FavoriteServlet</servlet-name>
	<url-pattern>/favorite</url-pattern>
</servlet-mapping>
	
<!--<servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.jsx</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.html</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.jpg</url-pattern>
</servlet-mapping>
<servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.png</url-pattern>
</servlet-mapping>-->

<security-constraint>
    <web-resource-collection>
        <web-resource-name>Affamato</web-resource-name>
        <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
        <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
</security-constraint>
</web-app>